<% layout('layout.html') -%>

<div class="jumbotron">
  <h1>Your team</h1>
  <p>Below is a list of soldiers that are in your team</p>
</div>
<div class="row col-sm-offset-1">
  <% soldiers.forEach(function(soldier) { %>
    <div class="col-sm-2">
      <div class="panel panel-default text-center">
        <a class="btn btn-info btn-large" href="/team/<%= soldier.name.toLowerCase() %>">
        	<%= soldier.name %>
        </a>
      </div>
    </div>
  <% }); %>
</div>
<%
  containerClass = "col-sm-9 col-sm-offset-1 col-md-offset-0";
  soldierIndex = (!soldierIndex) ? 0 : soldierIndex;
  soldier = soldiers[soldierIndex];
%>
<div class="col-lg-12">
    <div class="panel panel-default">
      <div id="viewer" class="panel-body">
        <div class="col-sm-2">
          <div class="list-group">
            <a href="#overview" class="list-group-item active">Overview</a>
            <a href="#stats" class="list-group-item">Statistics</a>
            <a href="#behaviours" class="list-group-item">Behaviours</a>
          </div>
        </div>
      <div id="overview" class="<%= containerClass %>">
        <h1 id="name"><%= soldier.name %></h1>
        <hr>
        <img class="media-object" src="http://www.heroes-comic.com/images/cast/chrono.gif">
        <h1>Grid position</h1>
        <var>x: <%= soldier.gridPosition.x %></var>
        </br>
        <var>y: <%= soldier.gridPosition.y %></var>
      </div>
      <div id="stats" class="<%= containerClass %>" style="display: none">
        <h1>Stats</h1>
        <hr>
        <dl class="dl-horizontal">
          <dt>Kills</dt>
          <dd><%= soldier.record.kills %></dd>
          <dt>Deaths</dt>
          <dd><%= soldier.record.deaths %></dd>
          <dt>Damage done</dt>
          <dd><%= soldier.record.dmgDone %></dd>
          <dt>Damage taken</dt>
          <dd><%= soldier.record.dmgTaken %></dd>
          <dt>HP Recovered in battle</dt>
          <dd><%= soldier.record.hpRecovered %></dd>
        </dl>
      </div>
      <div id="behaviours" class="<%= containerClass %>" style="display: none">
        <h1>Behaviours</h1>
        <hr>
                
      </div>
    </div>
  </div>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Team stats</h1>
  </div>
  <div class="panel-body">
    <p>Put some charts here (chart.js?) to render some team stats (kills, deaths, etc)</p>
  </div>
</div>
